{
  "presets": [
    ["@babel/preset-env", {"modules": false}],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@core": "./src/app/core",
          "@components": "./src/app/core/components",
          "@containers": "./src/app/core/containers",
          "@models": "./src/app/core/models",
          "@utils": "./src/app/core/utils",
          "@modules": "./src/app/modules"
        },
        "cwd": "babelrc"
      }
    ],
    "react-hot-loader/babel",
    "styled-components",
    "react-loadable/babel"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
