.lines {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 30px);
}

.line {
  width: 30%;
  height: 100%;
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.line > div {
  background: #efefef;
  border-radius: 3px;
  margin-bottom: 2px;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.line > div:last-child {
  flex: 2;
}

.lineNo {
  padding: 0;
}

.logo {
  flex: 3;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  margin: 0 auto;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
}

.infoItem {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

.infoDt {
  font-weight: 400;
  width: 40%;
  font-size: 0.85em;
  color: #777;
}

.infoDd {
  display: block;
  height: 100%;
  width: 60%;
  font-size: 0.95em;
  background: transparent;
}

.line h3 {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.button,
.line button {
  background-color: #777;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.05em;
  font-size: 0.9em;
}

.units {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1em;
  font-size: 75%;
}

.pagination {
  position: absolute;
  top: -80px;
  height: 80px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonPrev,
.buttonNext {
  width: 80px;
  height: 80px;
  background: #fff;
  color: gray;
  font-size: 1.5em;
}

.pages {
  color: #fff;
  margin-right: 1em;
  text-align: center;
  line-height: 1;
}

.pages label {
  display: block;
  font-size: 1.25em;
}

.pages label:first-child {
  text-transform: uppercase;
  font-size: 0.75em;
}

.flowStats {
  padding: 2em;
  position: absolute;
  width: 70%;
  left: 30%;
  height: 200px;
}

.flowMeter {
  display: flex;
  color: #999;
  margin-bottom: 1em;
}

.flowLabel {
  font-size: 1em;
  flex: 1;
}

.flowValue {
  margin-left: auto;
  font-size: 2em;
  flex: 2;
  text-align: right;
}

.calibration {
  padding: 1em;
  width: 70%;
  left: 30%;
  position: absolute;
  height: 50%;
  top: 200px;
}

.calibrationSamples {
  position: relative;
  height: 250px;
}

.keyboardPad {
  flex: 2;
}

/* keyboard */
.container {
  /* position: relative; */
}

.container input {
  pointer-events: none;
  text-align: center;
  max-width: 50px;
  font-size: 1em;
  color: #999;
}

.keyboard {
  height: 300px;
  // TEST =>
  position: absolute;
  width: 300px;
  right: 80px;
  top: -32px;
  // <= TEST  
}

.key {
  height: 35px;
}

.field {
  width: 100%;
}

.sampleValue {
  border-bottom: 1px solid;
  min-height: 1em;
  max-width: 50px;
  text-align: center;
  font-size: 1em;
  color: #999;
}

.containerWithKeyboard .sampleValue {
  color: #444;
  font-weight: normal;
}

.buttonBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #444;
  color: #fff;
  display: flex;
}

.buttonBar button {
  flex: 1;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}

button.buttonAction {
  background: #eee;
  color: #444;
}

.placeholder {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0;
  line-height: 1;
  font-size: 15px;
}

.sampleValue {
  color: #444;
  font-weight: normal;
  padding: 0.75em;
}

.label {
  opacity: 1;
}