.mosaic {
  display: flex;
  margin: 0 -2px -2px 0;
  width: 100%;
  height: 100%;
  flex-flow: wrap;
}

.mosaicWithBar {
  display: flex;
  margin: 0 -2px -2px 0;
  width: 100%;
  height: calc(100% - 110px);
  justify-content: space-around;
  flex-flow: wrap;
}

.item {
  width: calc(50% - 2px);
  margin: 1px;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.125);
  border: 1px solid #555;
  box-sizing: border-box;
  font-size: 1em;
}

.item label::first-letter {
  text-transform: capitalize;
}

.item:active {
  background: #555;
  color: #fff;
}

.menuInfoBar {
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background: #444;
  color: #fff;
  z-index: 1000;
}

// GLOBAL /** TO IMPROVE

/*
  :root {
    --black: #4A4A4A;
    --gray20: #EEEEEE;
    --gray40: #9B9B9B;
    --gray60: #979797;
    --gray80: #D8D8D8;
    --red: #D00E1C;
    --blue: #3266A2;
    --br: 5px;
  };
*/

/* ubuntu-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla Regular'), local('Karla-Regular'),
       url('/fonts/Karla-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

html {
  cursor: none;
}

html,
body {
  font-family: Karla, sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.4;
  font-size: 15px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #555;
  overflow: hidden;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

body {
  background-position: center;
  background-size: cover;
}

button {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  opacity: 1;
  margin: 0;
  padding: 0;
}

// button:active {
//   background-color: gray;
//   color: white;
// }

img {
  max-width: 100%;
}

:global #root {
  width: 100%;
  height: 100%;
  background: #fff;
}

*[disabled] {
  opacity: .5;
}

input {
  border: none;
  border-bottom: 1px solid #eee;
}

input::placeholder {
  color: #999;
}

:global .menu-button-bar {
  position: absolute;
  bottom: 0;
  height: 70px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

:global .menu-button-bar button:last-child {
  margin-left: auto;
  text-align: right;
}

:global .menu-button-bar button:first-child {
  text-align: left;
}

:global .button-bar__button {
  background: #555;
  height: 100%;
  width: calc(50% - 1px);
  padding: 0 1em;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 1px;
}

:global .button-bar__button--light {
  background: #d8d8d8;
  color: #777;
}

:global .w-66 {
  width: 66.6%;
}
:global .w-33 {
  width: 33.3%;
}
:global .w-50 {
  width: 50%;
}
:global .h-25 {
  height: 25%;
}
:global .left-0 {
  left: 0%;
}
:global .left-66p {
  left: 66.6%;
}
:global .top-0 {
  top: 0%;
}
:global .top-25p {
  top: 25%;
}
:global .left-50p {
  left: 50%;
}
:global .top-50p {
  top: 50%;
}
:global .top-75p {
  top: 75%;
}
