//colors
$gallery: #efefef;

.submenu {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;

  > div {
    width: calc(50% - 1px);
    height: 50%;
    justify-content: center;
  }
}

.group {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  background: $gallery;
  padding: 1em;
  margin: 0.5em 0 0;
  width: 100%;
}

.groupTitle {
  text-transform: uppercase;
}

.groupActions {
  display: flex;
}

.groupButton {
  background: $gallery;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  font-size: 0.85em;
  font-weight: 400;
  border: 1px solid;
  margin-right: 0.5em;
}
