.pagination {
  position: absolute;
  top: -80px;
  height: 80px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonPrev,
.buttonNext {
  width: 80px;
  height: 80px;
  background: #fff;
  color: red;
  font-size: 1.5em;
}

.pages {
  color: #fff;
  margin-right: 1em;
  text-align: center;
  line-height: 1;
}

.pages label {
  display: block;
  font-size: 1.25em;
}

.pages label:first-child {
  text-transform: uppercase;
  font-size: .75em;
}

.submenu {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 70px);
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  background: #efefef;
  padding: 1em;
  margin: .5em 0 0;
  width: 100%;
}

.groupTitle {
  text-transform: uppercase;
}

.groupActions {
  display: flex;
}

.groupButton {
  background: #efefef;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  border-radius: 3px;
  font-size: .85em;
  font-weight: 400;
  border: 1px solid;
  margin-right: .5em;
}

.keyboard {
  // height: 750px;
  width: 100%;
}

.fieldError {
  color: gray;
}
