//colors
$gallery: #efefef;
$blue: blue;
$white: #fff;
$color_japanese_laurel_approx: green;
$color_mine_shaft_approx: #333;

.keyboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}

.line {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 4px;
  flex-flow: row-wrap;
}

.key {
  display: block;
  flex: 1;
  text-align: center;
  height: 100%;
  margin: 2px;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  font-size: 1.125em;
  background: $gallery;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;

  &:empty {
    visibility: hidden;
  }
}

.key123 {
  font-size: 75%;
}

.keyabc {
  font-size: 75%;
}

.keySPACE_BAR {
  width: 100%;
  flex: 4;

  label {
    opacity: 0;
  }
}

.key⏎ {
  background: $blue;
  color: $white;
  flex: 2;
}

.keyOK {
  background: $color_japanese_laurel_approx;
  color: $white;
}

.key⌫ {
}

.key⇪ {
  flex: 1.5;
}

.activeKey {
  background: $color_mine_shaft_approx;
  color: $white;
}
