.container {
  overflow: visible;
}

.title.title {
  text-align: left;
  background: transparent;
  color: var(--black);
  text-transform: none;
  padding: 0.5em 0;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 100%;
}

.caret {

}

.caret small {
  margin-left: 1em;
  font-size: 0.7em;
}

.optionDropdown {
  text-align: left;
  position: relative;
}

.optionDropdown button {
  font-size: 1em;
  padding: 1em;
}

.optionList {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white;
}

.optionListEl {
  border-bottom: 1px solid #666;
  padding: 10px;
}

.optionListEl:hover {
  background-color: rgb(5, 57, 106);
  color: white;
}

.optionDropdownItem {
  background: #444;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1em;
}
